

.card-image{
    background-color: rgb(17, 17, 112);
    width: 20%;
    border-radius: 0 20px 20px 20px;
}

.img-card{
    box-shadow: 3px 3px 10px 3px #b1afaf;
    background: #fff;
}

.card-text {

}

.card-text h2{
    color: rgb(17, 17, 112);
}
.card-text p{
    color: rgb(136, 159, 187);
    font-weight: bolder;
}