.head-content {
    position: relative;
 }
 .header-text {
    color: #fff;
    position: absolute;
    right: 50%;
    left: 0;
    bottom: 40%;
 }
 .header-text h2{
    font-size: 60px;
 }
 .banner-carousel{
  height: 950px;
 }


 @media screen and (max-width: 900px) {
   .head-content {
      position: relative;
   }
   .header-text {
      color: #fff;
      position: absolute;
      right: 50%;
      left: 0;
      bottom: 5%;
   }
   .header-text h2{
      font-size: 20px;
   }

   .banner-carousel{
      height: 200px;
     }
  
 }
 